---
import Layout from "@/layouts/main.astro"
import { Button } from "@/components/ui/button"
import Menu from "@/components/menu.astro"
import Hero from "@/components/hero.astro"
import EmotionalSigns from "@/components/emotional-signs.astro"
import AboutMe from "@/components/about-me.astro"
---

<Layout>
  <div class="flex min-h-svh p-6">
    <div class="flex min-w-0 flex-col gap-4 text-sm leading-loose w-full ">
      <Menu class="mb-6 hidden md:flex" />
      <Hero />
      <EmotionalSigns />
      <AboutMe />
    </div>
  </div>
</Layout>
