---
import "@/styles/global.css"
import "@/styles/reveal-shared.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://www.figma.com/api/mcp/asset/7884dd8d-049a-4913-8940-695a5f84e4c0" />
    <title>
      Larissa Ferreira - Psicóloga Online
    </title>
    <link rel="icon" type="image/png" href="https://www.figma.com/api/mcp/asset/7884dd8d-049a-4913-8940-695a5f84e4c0" />
    <meta name="description" content="Larissa Ferreira - Psicóloga Online" />
    <meta name="keywords" content="Larissa Ferreira, Psicóloga, Online, Terapia, Cognitivo-Comportamental" />
    <meta name="author" content="Larissa Ferreira" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta property="og:image" content="https://larissa-ferreira-lp.vercel.app/og-image.jpg" />
    <meta property="og:image:secure_url" content="https://larissa-ferreira-lp.vercel.app/og-image.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:title" content="Larissa Ferreira - Psicóloga Online" />
    <meta property="og:description" content="Larissa Ferreira - Psicóloga Online" />
    <meta property="og:url" content="https://larissa-ferreira-lp.vercel.app/" />
    <meta property="og:site_name" content="Larissa Ferreira - Psicóloga Online" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt-BR" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Larissa Ferreira - Psicóloga Online" />
    <meta name="twitter:description" content="Larissa Ferreira - Psicóloga Online" />
    <meta name="twitter:image" content="https://larissa-ferreira-lp.vercel.app/og-image.jpg" />

  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
